@use '../abstracts/variables' as *;

/*------------------------------------*\
    #VISIBILITY UTILITIES
\*------------------------------------*/

/* Completely remove from the flow and screen readers. */
.ds-u-is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* Completely remove from the flow but leave available to screen readers. */
.ds-u-is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Hide element at sm breakpoint 
 */
.ds-u-hide-sm {
  @media all and (min-width: $ds-bp-sm) {
    display: none !important;
  }
}

/**
 * Hide element at md breakpoint 
 */
.ds-u-hide-md {
  @media all and (min-width: $ds-bp-md) {
    display: none !important;
  }
}

/**
 * Hide element at lg breakpoint 
 */
.ds-u-hide-lg {
  @media all and (min-width: $ds-bp-lg) {
    display: none !important;
  }
}

/**
 * Hide element at xl breakpoint 
 */
.ds-u-hide-xl {
  @media all and (min-width: $ds-bp-xl) {
    display: none !important;
  }
}

/**
 * Show element at sm breakpoint 
 */
.ds-u-show-sm {
  @media all and (max-width: $ds-bp-sm) {
    display: none !important;
  }
}

/**
 * Show element at md breakpoint 
 */
.ds-u-show-md {
  @media all and (max-width: $ds-bp-md) {
    display: none !important;
  }
}

/**
 * Show element at lg breakpoint 
 */
.ds-u-show-lg {
  @media all and (max-width: $ds-bp-lg) {
    display: none !important;
  }
}

/**
 * Show element at xl breakpoint 
 */
.ds-u-show-xl {
  @media all and (max-width: $ds-bp-xl) {
    display: none !important;
  }
}
